* {
    box-sizing: border-box;
}

.search {
    position: relative;
    width: 100%;
    max-width: 100px;
}

.search__input {
    width: 100%;
}

.search__button {
    border: none;
    position: absolute;
    right: 1px;
    top: 3px;
    height: 15px;
    padding: 0 5px;
}

.search__image {

}